@import "./../../../sass/variables";
.container{
    @include flex(5);

    .clients{
        
        .clientNumber{
            background-color: red;
            @include titleText(3.5rem);
            
        
        }
        .content{
            @include titleText(2.5rem);
            background-color:$gold;
        a{
            &:hover{
                cursor: pointer;
            }
        }
        }
        
    }
    #editModel{
        display: none;
    }
}
