<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="clients" *ngFor="let client of clients;index as i">
             <div class="clientNumber">Client {{i+1}}</div>
             <div class="content">

                 <span>Client code:</span><h1 class="code">{{client.code}}</h1>
                            <span>Client Ville :</span> <h2>{{client.ville}}</h2>
             </div>
    <a href="" class="btn" routerLink="/products">Get Products</a>         
</div>
</div>
</body>
</html>