$gold:#f6f64581;
$white:rgba(255, 255, 255, 0.963);
$black:#334;
$light-color:rgba(97, 58, 58, 0.854);
$light-bg:#f5f5f5f5;
$border:.2rem solid $black;
$box-shadow:0 .5rem  1rem rgba(0,0,0,1) ;

@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
    
}
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,4fr));
    gap: 4rem;
    
}
@mixin flex($val) {
    display: flex;
    grid-template-columns: repeat (auto-fit,minmax($val,1fr) );
    gap: 2rem;
    
}
@mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
    text-align: center;
    
}
.btn{
  
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 1rem;
    cursor: pointer;
    background: white;
    color: black;
    bordder:$border;
    @include titleText(2rem);
    border-radius: 5%;
&:hover{
background-color: $gold;
border-color: $gold;
color: $black;
}
}
.heading{
    text-align: center;
    margin-bottom: 1rem;
    @include titleText(4rem);
    
    span{
color:$gold;
    }
}