<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!--about sectio strats-->

<section class="about" id="about">
    <div class="content">
      <h3 class="heading">Our<span> Services</span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi quasi enim assumenda omnis cupiditate excepturi ducimus. Suscipit, repellendus magnam commodi aliquam numquam officiis dicta nemo nesciunt eum quo reprehenderit inventore dolore necessitatibus odio labore aspernatur, deleniti fuga. Minima, necessitatibus!</p>
      <a href="#" class="btn">Read More</a>
    </div>
    <div class="image">
      <img src="../assets/images/animat-swiss-knife.gif" alt="Our serives">
    </div>
  </section>
  <section class="gallery" id="gallery">
  
    <h1 class="heading">our <span>consulting </span>gallery</h1>
    <div class="gallery-container">
      <a class="box" href="../assets/images/gallery/download (1).jfif"><img src="../assets/images/gallery/download (1).jfif" alt=""></a> 
      <a class="box" href="../assets/images/gallery/download (2).jfif"><img src="../assets/images/gallery/download (2).jfif" alt=""></a> 
      <a class="box" href="../assets/images/gallery/download (3).jfif"><img src="../assets/images/gallery/download (3).jfif" alt=""></a> 
      <a class="box" href="../assets/images/gallery/download (3).jfif"><img src="../assets/images/gallery/download (3).jfif" alt=""></a> 
    </div>
  </section>
  <!--about sectio ends-->
</body>
</html>