
<div class="form-body">

    <div class="row">

        <div class="form-holder">

            <div class="form-content">

                <div class="form-items">

                    <h3>Add a client Today</h3>
                    <p>Fill in the data below.</p>
                    <legend>{{message}}</legend>
                    <form [formGroup]="clientForm" (ngSubmit)="addClient(clientForm)" class="requires-validation" novalidate>
                        <div class="col-md-12">
                            <input name="nom" placeholder="nom" required formControlName="nom" >
                        </div>
                        <div class="col-md-12">
                            <input name="code" placeholder="code" required formControlName="code"> 
                        </div>
                        <div class="col-md-12">
                            <input name="prenom" placeholder="prenom" required formControlName="prenom">
                        </div>
                        
                        <div class="col-md-12">
                            <input name="dateNainsance" placeholder="code" required formControlName="dateNaisance">
                        </div>
                        <div class="col-md-12">
                            <input name="address" placeholder="address" required formControlName="address">
                        </div>
                        <div class="col-md-12">
                            <input name="ville" placeholder="ville" required formControlName="ville">
                        </div>


                        <div class="col-md-12">
                            <input name="codePostel" placeholder="codePostal" required formControlName="codePostal">
                        </div>



                        <div class="col-md-12">
                            <input name="tel" placeholder="tel" required formControlName="tel">
                        </div>



                        <div class="col-md-12">
                            <input name="fax" placeholder="fax" required formControlName="fax">
                        </div>



                        <div class="col-md-12">
                            <input name="gsm" placeholder="gsm" required formControlName="gsm">
                        </div>



                        <div class="col-md-12">
                            <input name="email" placeholder="email" required formControlName="email">
                        </div>



                        <div class="col-md-12">
                            <input name="commandes" placeholder="commandes" required formControlName="commandes">
                        </div>


                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required formControlName="check">
                            <label class="form-check-label">I confirm that all data are correct</label>
                            <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div>


                        <button id="submit" type="submit"class="btn btn-primary">Add
                            client</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


)