<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="header">
  <div class="contact-info">
    <p ><i class="fa fa-map"></i>En Arous,Tunis</p>
    <p ><i class="fa fa-envelope"></i>En Arous,Tunis</p>
    <p ><i class="fa fa-phone"></i>En Arous,Tunis</p>
    <p ><i class="fa fa-map"></i>En Arous,Tunis</p>
  </div>
  <nav class="navbar">
    <a href="#" class="logo" routerLink="/home"><i class="fa fa-chain"></i>XY Consulting</a>
    <div class="links">
      <a href="#home">Home</a>
      <a href="#gallery">Gallery</a>
      <a href="/clients"  routerLink="/clients">Clients</a>
      <a href="#about">About</a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
</body>
</html>